.app {
  display: grid;
  height: 100vh;
  gap: 25px;
  grid-template-columns: 80px 0.7fr 1fr 80px;
  grid-template-rows: 100px 100px 1fr 100px;
  grid-template-areas:
    "header header header header"
    ". search search ."
    ". list player ."
    "footer footer footer footer";
  @include for-narrow-layout {
    height: unset;
    grid-template-columns: 0px 1fr 0px;
    grid-template-rows: 100px 80px 0.8fr 1fr 100px;
    grid-template-areas:
      "header header header"
      ". search  ."
      ". player  ."
      ". list  ."
      "footer footer footer";
  }
}

.app-header {
  grid-area: header;
}
.video-search {
  grid-area: search;
}
.video-list {
  grid-area: list;
}
.video-player {
  grid-area: player;
}
.app-footer {
  grid-area: footer;
}
